:root {
  --primary-color: #b3001b;
  --secondary-color: #ffba00;
  --headings-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins";
  overflow: hidden;
}

.d-flex {
  background: #ffd43b;

  font-weight: 900;
}

p {
  font-family: "Poppins";
  font-weight: 400;
}

.hero {
  background-image: url(images/charlotte.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* width: 100vw;
  height: 100vh; */
}

.hero .content {
  padding: 150px;
  text-align: center;
}

.content h1 {
  font-family: var(--headings-font-family);
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 45px;
}

.btn-contact {
  background: var(--primary-color);
  padding: 15px 45px;
  color: #fff;
  text-decoration: none;
  font-family: var(--default-font-family);
}
