:root {
  --primary-color: #b3001b;
  --secondary-color: #ffba00;
  --headings-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font-family);
}

.hero {
  background-image: url(images/charlotte.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}

.content h1 {
  padding-top: 90px;
  color: var(--secondary-color);
  font-size: 66px;
}

.content h2 {
  font-family: var(--headings-font-family);
  color: var(--secondary-color);
  font-size: 46px;
  font-weight: bold;
}

.btn-branding {
  background: var(--primary-color);
  color: #fff;
  padding: 15px 20px;
  font-family: var(--default-font-family);
  font-size: 14px;
  text-align: none;
}

.second-section {
  background: #e8f0f4;
  padding: 40px 0;
}

.container h2 {
  font-family: var(--headings-font-family);
}

.container p {
  font-family: var(--default-font-family);
  font-size: 14px;
}
.img-fluid {
  padding: 10px;
  background: var(--secondary-color);
}

@media (max-width: 960px) {
  .content h2 {
    font-size: 24px;
    text-align: center;
  }

  .content h1 {
    font-size: 34px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .content-inner {
    margin-bottom: 50px;
  }

  .content-inner .btn-branding {
    margin-top: 50px;
  }

  .certificates .row {
    display: block;
  }

  .certificates .row .col-4  .btn-branding {
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 10px auto;
  }
}

.content-container {
  padding: 140px 0;
}

.content-container h1 {
  font-size: 48px;
}

.content-container h2 {
  font-size: 16px;
  font-family: var(--default-font-family);
}

.content-inner h1 {
  color: #000;
}

/* .about-section-content {
  margin: 30px;
} */
